# Editores de código
.vscode/
.idea/
*.swp
*.swo

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# Docker (si usas uno general)
.docker/

# Ignorar todos los .env por seguridad (capa extra)
**/.env

# Credenciales y llaves de seguridad
**/*serviceAccountKey.json
**/*firebase-key.json
**/config/*.json